{{ partial "partials/head.html" (dict "context" . "class" "single") }}
{{ partial "partials/header.html" . }}

{{$path := printf "/%s/%s" "authors" (index .Params.authors 0 | urlize)}}
{{$author_page := .Site.GetPage $path}}

<div class="container">
  <div class="entry-header">
    <div class="mb-5">
      <h1 class="entry-title m_b_2rem">
	{{.Name}}
      </h1>

      <div class="entry-meta align-items-center">
	<a href="{{$path}}" class="author-avatar">
	  <img alt="{{$author_page.Name}}"
	       src="{{$author_page.Params.avatar}}"/>
	</a>
	<a href="{{$path}}">
	  {{$author_page.Name}}
	</a>
	<br/>
	<span>
	  {{.Date.Format "Jan 2"}}
	</span>
	<span class="middotDivider"></span>
	<span class="readingTime">
	  {{.ReadingTime}} min read
	</span>
      </div>
    </div>
  </div>

  <article class="entry-wraper mb-5">
    {{if (ne .Params.excerpt nil)}}
    <div class="excerpt mb-4">
      <p>{{.Params.excerpt}}</p>
    </div>
    {{end}}

    <div class="entry-main-content dropcap">
      {{.Content}}
    </div>

    <div class="box box-author m_b_2rem">
      <div class="post-author row-flex">
	<div class="author-img">
	  <img alt="{{$author_page.Name}}"
	       src="{{$author_page.Params.avatar}}" class="avatar"/>
	</div>

	<div class="author-content">
	  <div class="top-author">
	    <h5 class="heading-font">
	      <a href="{{$path}}" title="{{$author_page.Name}}" rel="author">
		{{$author_page.Name}}
	      </a>
	    </h5>
	    {{$author_page.Content}}
	  </div>
	</div>
      </div>
    </div>
  </article>
</div>

{{ partial "partials/footer.html" . }}
