<article class="post-has-bg">
  <div class="mb-3 d-flex row">
    {{if (ne .post.Params.thumb nil)}}
    <figure class="col-4 col-md-4">
      <a href="{{.post.Permalink}}">
	<img alt="{{.post.Name}}" src="{{.post.Params.thumb}}"
	     style="height: 100%; object-fit: cover;"/>
      </a>
    </figure>
    {{end}}

    <div class="entry-content col-8 col-md-8 pl-md-0">
      <h5 class="entry-title mb-3">
	<a href="{{.post.Permalink}}">
	  {{.post.Title}}
	</a>
      </h5>

      <div class="entry-meta align-items-center">
	{{$path := printf "/%s/%s" "authors" (index .post.Params.authors 0 | urlize)}}
	{{with .site.GetPage $path}}
	<a href="{{$path}}">
	  {{.Title}}
	</a>
	{{end}}
	in
	<a href="/categories/{{index .post.Params.categories 0 | urlize}}">
	  {{index .post.Params.categories 0}}
	</a>
	<br>

	<span>
	  {{.post.Date.Format "Jan 2"}}
	</span>
	<span class="middotDivider"></span>
	<span class="readingTime">
	  {{.post.ReadingTime}} min read
	</span>
      </div>
    </div>
  </div>
</article>
