<footer class="mt-5">
  <div class="container">
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 copyright text-xs-center">
	<p>
	  Copyright &copy; {{now.Year}} {{.Site.Title}}.
	  Designed by <a href="https://alithemes.com">AliThemes.com</a>.
	</p>
      </div>
    </div>
  </div>
</footer>

</div>

<a href="#" class="back-to-top heading">
  <i class="icon-left-open-big"></i>
  <span class="d-lg-inline d-md-none">
    Top
  </span>
</a>

</div>

<script src="/js/bootstrap.js"></script>
<script src="/js/jquery-scrolltofixed.min.js"></script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/scripts.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</body>
</html>
